<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>

    <footer id="fh5co-footer" role="contentinfo" th:fragment="footer">
      <div class="container">
        <div class="row copyright">
          <div class="col-md-12 text-center">
            <p>
              <small class="block">Template designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> and modified by <a href="https://www.linkedin.com/in/sebastian-rivera-181bb066/" target="_blank">Sebastian Rivera</a>.</small>
              <small class="block">Get the source code from my <a href="https://github.com/sebastian-rivera/personal-projects/tree/master/java/spring-boot/wedding-site" target="_blank">Github</a> page!</small>
            </p>
            <p>
            <!--<ul class="fh5co-social-icons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-linkedin"></i></a></li>
              <li><a href="#"><i class="icon-dribbble"></i></a></li>
            </ul>-->
            </p>
          </div>
        </div>
      </div>
    </footer>

  </body>

</html>