<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <body>
    <div th:fragment="header">
      <nav class="fh5co-nav" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-xs-2">
              <div id="fh5co-logo"><a href="index.html">Beach Vibes Wedding<strong>.</strong></a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
              <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">Story</a></li>
                <li><a href="about.html">Date</a></li>
                <li><a href="about.html">Events</a></li>
                <li><a href="about.html">Lodging</a></li>
                <li><a href="about.html">RSVP</a></li>
              </ul>
            </div>
          </div>

        </div>
      </nav>


    </div>
  </body>

</html>