<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="shared/default">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>L&S Wedding</title>
</head>
<body>

  <div layout:fragment="content">

    <input th:if="${showRsvp}" id="display-rsvp"/>
    <input th:if="${rsvpSaved}" id="display-rsvp-success"/>

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeIn">
                <h1 style="margin-top: 40px">Lorna &amp; Sebastian</h1>
                <h2>For Like Ever</h2>
                <div class="simply-countdown simply-countdown-one"></div>
                <!--<p><a href="#" class="btn btn-default btn-sm">Save the date</a></p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="fh5co-couple">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <h2>Hola dudes!</h2>
            <h3>We are getting married!</h3>
            <p>Villa Montaña Resort</p>
            <p>Julio 22, 2017 Isabela, PR</p>

          </div>
        </div>
        <div class="couple-wrap animate-box">
          <div class="couple-half">
            <div class="groom">
              <img src="images/bride.jpg" alt="groom" class="img-responsive">
            </div>
            <div class="desc-groom">
              <h3>Lorna Malpica</h3>
              <!--<p>The Bride</p>-->
              <p>The Doctor</p>
            </div>
          </div>

          <!--<p class="heart text-center"><i class="icon-heart2"></i></p>-->
          <div style="position: absolute; left: 50%;">
            <div style="position: relative; left: -50%;" class="heart">
              <i class="icon-heart2">
            </div>
          </div>

          <div class="couple-half">
            <div class="bride">
              <!--<a onclick="onShowLoadPacman()" style="cursor: pointer;" data-toggle="modal" data-target="#pacmanModal">-->
                <img src="images/groom.jpg" alt="groom" class="img-responsive">
              <!--</a>-->
            </div>
            <div class="desc-bride">
              <h3>Sebastian Rivera</h3>
              <p>The Computer <a onclick="onShowLoadPacman()" style="cursor: pointer; color: #828282 !important;" data-toggle="modal" data-target="#pacmanModal"><u>Nerd</u></a></p>
              <!--<p>The Groom</p>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:if="${showGallergy}" id="fh5co-gallery" class="fh5co-section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <h2>Our Story</h2>
            <!--<span>How it all began.</span>-->
            <p>Memories we have shared together and with all of you!</p>
          </div>
        </div>


        <div class="row row-bottom-padded-md">
          <div class="col-md-12">
            <ul id="fh5co-gallery-list">

              <!--<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/a-new.jpg);">
                <a href="/images/a-new.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    &lt;!&ndash;<h2>A New</h2>&ndash;&gt;
                  </div>
                </a>
              </li>-->

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/begins.jpg);">
                <a href="/images/begins.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>Begins</h2>-->
                  </div>
                </a>
              </li>

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/journey.jpg);">
                <a href="/images/journey.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>Story</h2>-->
                  </div>
                </a>
              </li>



              <!--<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/shared.jpg);">
                <a href="/images/shared.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    &lt;!&ndash;<h2>Shared</h2>&ndash;&gt;
                  </div>
                </a>
              </li>-->

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/with.jpg);">
                <a href="/images/with.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>With</h2>-->
                  </div>
                </a>
              </li>

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/family.jpg);">
                <a href="/images/family.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>Family</h2>-->
                  </div>
                </a>
              </li>

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/great.jpg);">
                <a href="/images/great.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>Great</h2>-->
                  </div>
                </a>
              </li>

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/friends.jpg);">
                <a href="/images/friends.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>Friends</h2>-->
                  </div>
                </a>
              </li>

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/and.jpg);">
                <a href="/images/and.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>And</h2>-->
                  </div>
                </a>
              </li>

              <!--<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/takes.jpg);">
                <a href="/images/takes.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    &lt;!&ndash;<h2>Takes</h2>&ndash;&gt;
                  </div>
                </a>
              </li>-->

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/us.jpg);">
                <a href="/images/us.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>Us</h2>-->
                  </div>
                </a>
              </li>

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/to.jpg);">
                <a href="/images/to.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>To</h2>-->
                  </div>
                </a>
              </li>

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/the.jpg);">
                <a href="/images/the.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>The</h2>-->
                  </div>
                </a>
              </li>

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/next.jpg);">
                <a href="/images/next.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>Next</h2>-->
                  </div>
                </a>
              </li>

              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image:url(/images/chapter.jpg);">
                <a href="/images/chapter.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="color-2">
                  <div class="case-studies-summary">
                    <!--<h2>Chapter</h2>-->
                  </div>
                </a>
              </li>

            </ul>
          </div>
        </div>


      </div>
    </div>

    <div id="fh5co-services" class="fh5co-section-gray" style="background: white !important;">
      <div class="container">

        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Save the Date</h2>
            <p>Everything that lead us to this moment.</p>
          </div>
        </div>

        <div class="row">

          <div class="col-md-8 col-md-offset-2 animate-box">
            <div class="fh5co-video fh5co-bg" style="background-image: url(/images/save-the-date-bg.jpg); ">
              <!--<a style="cursor: pointer" data-toggle="modal" data-target="#myModal" class="popup-vimeo"><i class="icon-video2"></i></a>-->
              <a style="cursor: pointer" data-toggle="modal" data-target="#myModal" class="popup-vimeo"><i class="icon-video2"></i></a>
              <div class="overlay"></div>
            </div>
          </div>



          <!-- Modal -->
          <div id="pacmanModal" class="modal modal-fullscreen fade" role="dialog" style="height: 100%">
            <div class="modal-dialog" style="height: 100%">

              <!-- Modal content-->
              <div class="modal-content" style="height: 100%">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <!--<h4 class="modal-title">Congrats! You fo</h4>-->
                </div>
                <div class="modal-body" style="height: 100%">
                  <div class="row" style="height: 100%">
                    <div class="col-md-12" style="height: 100%">
                      <iframe style="width: 100%; height: 100%" src="" id="pacmanSource"></iframe>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>



          <!-- Modal -->
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

              <!-- Modal content-->
              <div class="modal-content">
                <!--<div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Save The Date</h4>
                </div>-->
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <video controls style="width: 100%; height: 100%">
                        <source src="/videos/save-the-date.mp4">
                        <!--<source src="mov_bbb.ogg" type="video/ogg">-->
                        Your browser does not support HTML5 video.
                      </video>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>



        </div>
      </div>
    </div>

    <div id="fh5co-event" class="fh5co-bg" style="background-image:url(/images/img_bg_3.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <span>Our Special Events</span>
            <h2>Wedding Events</h2>
          </div>
        </div>
        <div class="row" style="font-size: 16px !important;">
          <div class="display-t">
            <div class="display-tc">
              <div class="col-md-12">
                <div class="col-md-4 col-sm-4 text-center">
                  <div class="event-wrap animate-box">
                    <h3 style="font-size: 16px !important;">Pre-Wedding Hang Out</h3>
                    <h3 style="font-size: 16px !important; border-bottom: 0; margin:0px">Cinco Restaurant</h3>
                    <div class="event-col">
                      <i class="icon-clock"></i>
                      <span>8:00 PM</span>
                      <span>12:00 AM</span>
                    </div>
                    <div class="event-col">
                      <i class="icon-calendar"></i>
                      <span>Viernes 21</span>
                      <span>Julio, 2017</span>
                    </div>
                    <p>Les invitamos a compartir con nosotros el dia antes de la boda.</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                  <div class="event-wrap animate-box">
                    <h3 style="font-size: 16px !important;">Wedding Day</h3>
                    <h3 style="font-size: 16px !important; border-bottom: 0; margin:0px">Villa Montaña Beach Resort</h3>
                    <h3 style="font-size: 16px !important; border-bottom: 0; margin:0px">Ceremony</h3>
                    <div class="event-col">
                      <i class="icon-clock"></i>
                      <span>4:30 PM</span>
                      <span>6:00 PM</span>
                    </div>
                    <div class="event-col">
                      <i class="icon-calendar"></i>
                      <span>Sábado 22</span>
                      <span>Julio, 2017</span>
                    </div>
                    <h3 style="font-size: 16px !important; border-bottom: 0; margin: 0px;">Cocktail</h3>
                    <div class="event-col">
                      <i class="icon-clock"></i>
                      <span>6:00 PM</span>
                      <span>7:00 PM</span>
                    </div>
                    <div class="event-col">
                      <i class="icon-calendar"></i>
                      <span>Sábado 22</span>
                      <span>Julio, 2017</span>
                    </div>
                    <h3 style="font-size: 16px !important; border-bottom: 0; margin: 0px;">Reception</h3>
                    <div class="event-col">
                      <i class="icon-clock"></i>
                      <span>7:00 PM</span>
                      <span>12:00 PM</span>
                    </div>
                    <div class="event-col">
                      <i class="icon-calendar"></i>
                      <span>Sábado 22</span>
                      <span>Julio, 2017</span>
                    </div>
                    <p></p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                  <div class="event-wrap animate-box">
                    <h3 style="font-size: 16px !important;">Sunday Brunch</h3>
                    <h3 style="font-size: 16px !important; border-bottom: 0; margin: 0px;">Eclipse Restaurant</h3>
                    <div class="event-col">
                      <i class="icon-clock"></i>
                      <span>11:00 AM</span>
                      <span>1:00 PM</span>
                    </div>
                    <div class="event-col">
                      <i class="icon-calendar"></i>
                      <span>Domingo 23</span>
                      <span>Julio, 2017</span>
                    </div>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="where-to-stay" class="fh5co-bg" style="margin-top: 50px">
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Where To Stay</h2>
          </div>
        </div>

        <!-- Villa Montaña Beach Resort -->
        <div class="row thumbnail animate-box" style="padding: 30px; margin: 10px;">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Villa Montaña Beach Resort</h3>
          </div>

          <div class="col-md-8 col-md-offset-2 text-center">

            <img src="/images/villa-montana.jpg" class="img-fluid" style="width: 100%; height: 100%">

            <div style="margin-top: 15px; display: block; color: black; font-weight: 600">Special Wedding Guest Rate</div>

            <div style="display: block;"><span>Superior Hotel Room: $189.00<sup>+ Tax</sup></span></div>
            <div style="display: block;"><span>Cliffside Hotel Room: $225.00<sup>+ Tax</sup></span></div>
            <div style="display: block;"><span>One-Bedroom Garden View: $290.00<sup>+ Tax</sup></span></div>
            <div style="display: block;"><span>Two-Bedroom Garden View: $500.00<sup>+ Tax</sup></span></div>
            <div style="display: block;"><span>Three-Bedroom Garden View: $675.00<sup>+ Tax</sup></span></div>

            <div style="margin-top: 15px; display: block;"><span>Direct:</span> <a href="tel:787-872-9554">787-872-9554</a></div>
            <div style="display: block;"><span>Toll Free:</span> <a href="tel:888-432-4667">888-432-4667</a></div>
            <div style="display: block; font-size: 12px"><span>Note: Mention you will be a guest at the wedding to get special rate.</span></div>

          </div>
          <div class="col-md-8 col-md-offset-2 text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5123.636494645742!2d-67.10209311890499!3d18.512626408579152!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x932e95e0bfa84416!2sVilla+Monta%C3%B1a+Beach+Resort!5e0!3m2!1sen!2s!4v1492364734117" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

        </div>

        <!-- Courtyard Aguadilla -->
        <div class="row thumbnail animate-box" style="padding: 30px; margin: 50px 10px 10px 10px;">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Courtyard Aguadilla</h3>
          </div>

          <div class="col-md-8 col-md-offset-2 text-center">

            <img src="/images/courtyard.jpg" class="img-fluid" style="width: 100%; height: 100%">

            <div style="margin-top: 15px; display: block;"><span>Website:</span> <a href="http://www.marriott.com/hotels/travel/bqncy-courtyard-aguadilla/" target="_blank">Visit</a></div>
            <div style="display: block;"><span>Expedia:</span> <a href="https://www.expedia.com/Hotel-Search?_xpid=11905%7C1#destination=Courtyard+by+Marriott+Aguadilla%2C+Aguadilla%2C+PR&startDate=07%2F21%2F2017&endDate=07%2F23%2F2017&adults=2&children=0&selected=1802518&latLong=18.501274%2C-67.139476" target="_blank">See Rates</a></div>
            <div style="display: block;"><span>Direct:</span> <a href="tel:787-658-8000">787-658-8000</a></div>
            <div style="display: block;"><span>Toll Free:</span> <a href="tel: 1-888-236-2427">1-888-236-2427</a></div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60533.5438355763!2d-67.1658083593558!3d18.513238005827613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdb8604848557ef1c!2sCourtyard+by+Marriott+Aguadilla!5e0!3m2!1sen!2s!4v1492369366642" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>

        <!-- El Faro -->
        <div class="row thumbnail animate-box" style="padding: 30px; margin: 50px 10px 10px 10px;">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Parador El Faro</h3>
          </div>

          <div class="col-md-8 col-md-offset-2 text-center">

            <img src="/images/el-faro.jpg" class="img-fluid" style="width: 100%; height: 100%">

            <div style="margin-top: 15px; display: block;"><span>Website:</span> <a href="http://www.ihphospitality.com/PARADORELFARO/index.html" target="_blank">Visit</a></div>
            <div style="display: block;"><span>Expedia:</span> <a href="https://www.expedia.com/Hotel-Search?_xpid=11905%7C1#destination=Parador+El+Faro%2C+Aguadilla%2C+PR&startDate=07%2F21%2F2017&endDate=07%2F23%2F2017&adults=2&children=0&selected=904078&latLong=18.462617%2C-67.154856" target="_blank">See Rates</a></div>
            <div style="display: block;"><span>Direct:</span> <a href="tel:787-882-8000">787-882-8000</a></div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15137.879026075154!2d-67.154919!3d18.4623691!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3292c2c885f50bbf!2sHotel+El+Faro!5e0!3m2!1sen!2s!4v1492370575807" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>

        <!-- Parador Villas del Mar Hau -->
        <div class="row thumbnail animate-box" style="padding: 30px; margin: 50px 10px 10px 10px;">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Parador Villas del Mar Hau</h3>
          </div>

          <div class="col-md-8 col-md-offset-2 text-center">

            <img src="/images/mar-hau.jpg" class="img-fluid" style="width: 100%; height: 100%">

            <div style="margin-top: 15px; display: block;"><span>Website:</span> <a href="http://www.paradorvillasdelmarhau.com/" target="_blank">Visit</a></div>
            <div style="display: block;"><span>Direct:</span> <a href="tel:787-872-2045">787-872-2045</a></div>
            <div style="display: block;"><span>Note: Call to book.</span></div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2981.2524891802013!2d-67.06720326017226!3d18.512577649205387!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6a6eadecfe4c3748!2sParador+Villas+del+Mar+Hau!5e0!3m2!1sen!2s!4v1492371564612" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>


        <!-- Punta Borinquen Resort -->
        <div class="row thumbnail animate-box" style="padding: 30px; margin: 50px 10px 10px 10px;">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Punta Borinquen Resort</h3>
          </div>

          <div class="col-md-8 col-md-offset-2 text-center">

            <img src="/images/punta-borinquen.jpg" class="img-fluid" style="width: 100%; height: 100%">

            <div style="margin-top: 15px; display: block;"><span>Website:</span> <a href="http://www.bqnresort.com/" target="_blank">Visit</a></div>
            <div style="display: block;"><span>Expedia:</span> <a href="https://www.expedia.com/Puerto-Rico-Island-Hotels-Punta-Borinquen-Resort.h17839066.Hotel-Information?chkin=7%2F21%2F2017&chkout=7%2F23%2F2017&rm1=a2&regionId=6125659&hwrqCacheKey=1943f9cb-e2bf-43d2-b1fd-6b1ea30f1474HWRQ1492372428099&vip=false&c=f6c45fc8-3af0-4c7b-9789-95b14d381028&&exp_dp=141&exp_ts=1492372426868&exp_curr=USD&exp_pg=HSR" target="_blank">See Rates</a></div>
            <div style="display: block;"><span>Direct:</span> <a href="tel:787-890-9000">787-890-9000</a></div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d519.4906766396695!2d-67.14072197395546!3d18.502551227037134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c02962d23282179%3A0xb8617135bf937440!2sPunta+Borinquen+Resort!5e0!3m2!1sen!2s!4v1492372508439" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>

        <!-- AirBnB-->
        <div class="row thumbnail animate-box" style="padding: 30px; margin: 50px 10px 10px 10px;">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Airbnb</h3>
          </div>

          <div class="col-md-8 col-md-offset-2 text-center">

            <img src="/images/airbnb.jpg" class="img-fluid" style="width: 200px; height: 200px">

            <div style="margin-top: 15px; display: block;"><span>Isabela:</span> <a href="https://www.airbnb.com/s/Isabela--Puerto-Rico/homes?adults=2&checkin=2017-07-21&checkout=2017-07-23&guests=2&allow_override%5B%5D=&s_tag=vPOd202q" target="_blank">Visit</a></div>
            <div style="margin-top: 15px; display: block;"><span>Aguadilla:</span> <a href="https://www.airbnb.com/s/Aguadilla--Puerto-Rico/homes?adults=2&checkin=2017-07-21&checkout=2017-07-23&guests=2&allow_override%5B%5D=&s_tag=x24rjEn-" target="_blank">Visit</a></div>

            <div style="display: block;"><span>Not looking for a hotel? Try Airbnb!</span></div>

          </div>
        </div>


      </div>
    </div>

    <!-- RSVP -->
    <div id="fh5co-started" class="fh5co-bg" style="background-image:url(/images/img_bg_4.jpg);">
      <div class="overlay" style="background-color: #9a9a9a !important"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2 id="are-you-attending">RSVP</h2>
            <h2>Got An Invitation?</h2>
            <p>Please Fill-up the form to notify us if you are attending. Thanks!</p>
          </div>
        </div>

        <div class="row">

          <div class="col-md-12">
            <form id="rsvp-form" class="form-inline" method="post" th:action="@{/rsvp}" th:object="${rsvpForm}">

              <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3">
                  <input type="hidden" th:value="${rsvpForm.isAttending == null or rsvpForm.isAttending == ''}"/>
                  <select id="select-is-attending" th:field="*{isAttending}" onchange="onIsAttendingSelectChange(this)" class="form-control" required\>
                    <option
                        th:style="${areYouAttendingOption.isAttending.length() == 0 ? 'background-color: white; color: white' : 'background-color: #828282; color: white'}"
                        th:each="areYouAttendingOption : ${rsvpOptions.areYouAttendingOptions}"
                        th:value="${areYouAttendingOption.isAttending}"
                        th:text="${areYouAttendingOption.answerText}"
                        th:selected="${areYouAttendingOption.isAttending == rsvpForm.isAttending}"
                        th:disabled="${areYouAttendingOption.isAttending.length() == 0}">Wireframe</option>
                  </select>
                </div>
              </div>

              <div id="rsvp-form-options" style="display:none; margin-top: 40px" class="col-md-12">

                <!--NAME-->
                <div id="name-container" class="col-md-6 col-md-offset-3">
                  <div class="form-group">
                    <input
                        id="name"
                        type="text"
                        th:field="*{name}"
                        class="form-control"
                        th:style="${#fields.hasErrors('name') ? 'border: solid thin red !important;' : ''}"
                        placeholder="First and Last Name"/>
                    <label for="name" class="sr-only">Full Name</label>
                    <div th:errors="*{name}" style="color:red">Error</div>
                  </div>
                </div>

                <!-- EMAIL -->
                <div id="email-container" class="col-md-6 col-md-offset-3">
                  <div class="form-group">
                    <input
                        id="email"
                        type="email"
                        th:field="*{email}"
                        class="form-control"
                        th:style="${#fields.hasErrors('email') ? 'border: solid thin red !important;' : ''}"
                        placeholder="Email"/>
                    <label for="email" class="sr-only">Email</label>
                    <div th:errors="*{email}" style="color:red">Error</div>
                  </div>
                </div>

                <!-- TOTAL INVITED -->
                <div id="total-invited-container" class="col-md-6 col-md-offset-3">
                  <select
                      id="select-total-invited"
                      th:field="*{totalInvitedGuests}"
                      onchange="onTotalInvitedSelectChange($(this))"
                      class="form-control"
                      th:style="${#fields.hasErrors('totalInvitedGuests') ? 'border: solid thin red !important;' : ''}"\>

                    <option
                        th:each="totalInvitedOption : ${rsvpOptions.totalInvitedGuestsOptions}"
                        th:style="${totalInvitedOption.totalInvited.length() == 0 ? 'background-color: white; color: white' : 'background-color: #828282; color: white'}"
                        th:value="${totalInvitedOption.totalInvited}"
                        th:text="${totalInvitedOption.totalInvitedText}"
                        th:selected="${totalInvitedOption.totalInvited == rsvpForm.totalInvitedGuests}"
                        th:disabled="${totalInvitedOption.totalInvited.length() == 0}">Wireframe</option>
                  </select>
                  <div th:errors="*{totalInvitedGuests}" style="color:red;">Error</div>
                </div>

                <div class="col-md-4 col-md-offset-4 text-center" style="margin-top: 20px">
                  <button id="submit-button" class="btn btn-default btn-block">I am Attending</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script type="text/javascript" layout:fragment="script">
    //Wedding Countdown
    var d = new Date(new Date().getTime() + 200 * 120 * 120 * 2000);

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });



    $( document ).ready(function() {
        if($('#display-rsvp').length) {
            $('body').scrollTop($('#fh5co-started').offset().top);
        }

        if($('#display-rsvp-success').length) {
            alert('RSVP information saved. Thank you for responding!')
        }

/*        $( "#save-the-date-menu" ).click(function() {
            toggleMenu();
            $('body').animate({scrollTop: $('#fh5co-services').offset().top});
        });

        $( "#events-menu" ).click(function() {
            toggleMenu();
            $('body').animate({scrollTop: $('#fh5co-event').offset().top});
        });

        $( "#lodging-menu" ).click(function() {
            toggleMenu();
            $('body').animate({scrollTop: $('#where-to-stay').offset().top});
        });

        $( "#rsvp-menu" ).click(function() {
            toggleMenu();
            $('body').animate({scrollTop: $('#are-you-attending').offset().top});
        });*/

    });

    function onShowLoadPacman() {
        document.getElementById('pacmanSource').src = '/pacman';
    }

    function onSaveTheDateMenuClick() {
        toggleMenu();
        $('body').animate({scrollTop: $('#fh5co-services').offset().top});
    }

    function onEventsMenuClick() {
        toggleMenu();
        $('body').animate({scrollTop: $('#fh5co-event').offset().top});
    }

    function onLodgingMenuClick() {
        toggleMenu();
        $('body').animate({scrollTop: $('#where-to-stay').offset().top});
    }

    function onRsvpMenuClick() {
        toggleMenu();
        $('body').animate({scrollTop: $('#are-you-attending').offset().top});
    }

    /*$( document ).ready(function() {
      if($('#display-rsvp').length) {
        $('body').animate({scrollTop: $('#are-you-attending').offset().top});
      }
    });*/

    var prevSelectedValue = $( '#select-total-invited option:selected' ).val();

    function onIsAttendingSelectChange() {
        var selected = $( '#select-is-attending option:selected' ).val();

        if(selected != '') {

          $('#rsvp-form-options').show();

          if(selected == 'Yes') {
            $('#name-container').show();
            $('#email-container').show();
            $('#total-invited-container').show();

            if(prevSelectedValue == null) {
                $( '#select-total-invited').val('');
            } else {
                $( '#select-total-invited').val(prevSelectedValue);
            }
            $('#submit-button').text('I AM ATTENDING');
          } else if(selected == 'No') {
              $('#name-container').show();
              $('#email-container').show();
              $('#total-invited-container').hide();
              $( '#select-total-invited').val('0');
              $('#submit-button').text('I AM NOT ATTENDING');
          }

        }

        prevSelectedValue = null;
    }

    onIsAttendingSelectChange();

    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });

    function toggleMenu() {



        if ( $('body').hasClass('overflow offcanvas') ) {
            $('body').removeClass('overflow offcanvas');
        } else {
            $('body').addClass('overflow offcanvas');
        }
        $('.js-fh5co-nav-toggle').toggleClass('active');
        event.preventDefault();
    }

  </script>

</body>
</html>